<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel=" stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>

<body>
    <div class="container" style="padding: 100px;">
        <div class="row">
            <div class="col-12">
                <form action="/admin/edit-employee/<%=e._id%>" id="add-emp-form" method="post"
                    enctype="multipart/form-data">
                    <h4 class="form-label">تعديل بينات الموظف : <%=e.data[0][1]%>
                    </h4>
                    <div class="mb-3">
                        <input type="text" class="form-control title" name="title" readonly value="الاسم" required>
                        <input type="text" class="form-control data" name="data" value="<%= e.data[0][1]%>" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control title" name="title" readonly value="id" required>
                        <input type="text" class="form-control data" name="data" value="<%= e.data[1][1]%>" required>
                    </div>
                    <% for(let i=2; i < e.data.length; i++){%>
                        <div class="mb-3">
                            <input type="text" class="form-control title" name="title" value="<%= e.data[i][0]%>"
                                required readonly>
                            <input type="text" class="form-control data" name="data" value="<%= e.data[i][1]%>" required
                                style="width: 70%;">
                            <!-- <button type="button" onclick="removeInputs(this)" id="add-data"
                                class="btn btn-danger">-</button> -->
                        </div>
                        <%}%>
                            <div class="mb-3">
                                <button type="button" onclick="addInputs(this)" id="add-data"
                                    class="btn btn-dark">+</button>
                            </div>
                            <div class="mb-3" style="width: 50%; display: inline;">
                                <img src="<%=e.img%>" id="emp-img" alt="employee img" style="width: 240px;">
                                <button type="button" onclick="changeImg(this)" class="btn btn-primary"> تغير
                                    الصورة</button>
                                <input type="hidden" name="imgpath" value="<%=e.img%>">
                                <input type="hidden" class="form-control" id="img-file" name="photo"
                                    placeholder="صورة الموظف" required>
                            </div>
                            <div class="mb-3" style="width: 50%; display: inline;">
                                <img src="<%=e.qr%>" alt="">
                            </div>
                            <button type="submit" class="btn btn-dark" id="form-btn" style="display: block;">
                                حفظ</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/admin.js"></script>
</body>

</html>